@import "imports/fonts.less";
@import "imports/whirl.less";
@import "imports/core.less";

.navbar {
  background-image: inherit;
  background-color: transparent;
  .navbar-nav {
    margin: 0px;
    li {
      a {
        color: #555;
      }
      .dropdown-menu {
        a {
          &:hover {
            background-color: #F9F9F9!important;
          }
        }
      }
    }
  }
}
