.status {
  font-weight: bold;
  padding: 2px;
  color: white;

  &.no-text {
    display: inline-block;
    font-size: 0px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: relative;
    top: -10px;
  }

  &.STOPPED {
    background-color: #91A200;
  }
  &.PROGRESS {}
  &.ONLINE {
    background-color: #00A780;
  }
  &.READY {}
  &.ERRORED {
    background-color: #A94242;
  }
}
