<head>
  <title>Production process manager for Meteor applications</title>
  <link rel="icon" href="favicon.png" type="image/png" />
</head>

<template name="layout">
  <div class="wrapper">
    {{ > header }}
    {{ > sAlert }}
    <section>
      <div class="content-wrapper">
        {{# if loggingIn }}
          {{ > loading }}
        {{ else }}
          {{ > yield }}
        {{/if}}
      </div>
    </section>
  </div>
</template>

<template name="index">
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="panel widget bg-success">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-success-dark pv-lg">
               <em class="fa fa-bullseye fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0 text-bold">{{ onlines.count }}</div>
               <div class="text-uppercase">{{ _ "onlines" }}</div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="panel widget bg-primary">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-primary-dark pv-lg">
               <img src="/images/pm.png" class="pm">
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0 text-bold">{{ apps.count }}</div>
               <div class="text-uppercase">{{ _ "applications" }}</div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="panel widget bg-danger">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-danger-dark pv-lg">
               <em class="fa fa-exclamation-triangle fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0 text-bold">{{ errors.count }}</div>
               <div class="text-uppercase">{{ _ "errors" }}</div>
            </div>
         </div>
      </div>
    </div>
  </div>
  {{ > applications }}
</template>

<template name="header">
  <header class="topnavbar-wrapper">
    <nav role="navigation" class="navbar topnavbar">
      <div class="navbar-collapse collapse">
        <a href="{{ pathFor route='Index' }}" class="logo">
          <img src="/images/logo.png">
        </a>
        {{ > currentUserNav }}
      </div>
    </nav>
  </header>
</template>

<template name="notFound">
  <div class="abs-center not-found">
    <div class="text-center mb-xl">
      <p class="lead">{{ _ "not-found" "Page" }}</p>
      <p class="desc">{{ _ "not-found-desc" }}</p>
    </div>
    <ul class="list-inline text-center text-sm mb-xl">
      <li>
        <a href="{{ pathFor route='Index' }}" class="text-muted">{{ _ "go-home-page" }}</a>
      </li>
    </ul>
  </div>
</template>

<template name="loading">
  <div class="loading whirl pm-loading no-overlay"></div>
</template>
