<head>
  <title>Production process manager for Meteor applications</title>
</head>

<template name="layout">
  <div class="wrapper">
    {{ > header }}
    <section>
      <div class="content-wrapper">
        {{ > yield }}
      </div>
    </section>
    {{ > footer }}
  </div>
</template>

<template name="index">
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="panel widget bg-primary">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-primary-dark pv-lg">
               <em class="fa fa-rocket fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0 text-bold">{{ applications.count }}</div>
               <div class="text-uppercase">Applications</div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="panel widget bg-danger">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-danger-dark pv-lg">
               <em class="fa fa-exclamation-triangle fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0 text-bold">{{ logs.count }}</div>
               <div class="text-uppercase">Errors</div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="panel widget">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <div data-now="" data-format="MMMM" class="text-sm">{{ moFormat moNow 'MMMM' }}</div>
               <br>
               <div data-now="" data-format="D" class="h2 mt0">{{ moFormat moNow 'D' }}</div>
            </div>
            <div class="col-xs-8 pv-lg">
               <div data-now="" data-format="dddd" class="text-uppercase">{{ moFormat moNow 'dddd' }}</div>
               <br>
               <div data-now="" data-format="h:mm" class="h2 mt0">{{ moFormat moNow 'h:mm:ss' }}</div>
               <div data-now="" data-format="a" class="text-muted text-sm">{{ moFormat moNow 'a' }}</div>
            </div>
         </div>
      </div>
    </div>
  </div>
</template>

<template name="header">
  <header class="topnavbar-wrapper">
    <nav role="navigation" class="navbar topnavbar">
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-list">
               <a href="#" data-toggle="dropdown">yasaricli</a>
               <ul class="dropdown-menu animated flipInX">
                  <li>
                     <div class="list-group">
                        <a href="#" class="list-group-item">
                           <div class="media-box">
                              <div class="media-box-body clearfix">
                                 <p class="m0">Settings</p>
                              </div>
                           </div>
                        </a>
                        <a href="#" class="list-group-item">
                           <div class="media-box">
                              <div class="media-box-body clearfix">
                                 <p class="m0">Logout</p>
                              </div>
                           </div>
                        </a>
                     </div>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
    </nav>
  </header>
</template>

<template name="footer">
  <footer>
    <span>© 2016 - Pmteor</span>
  </footer>
</template>

<template name="loading">
  Loading...
</template>
