<head>
  <title>Production process manager for Meteor applications</title>
  <link rel="icon" href="favicon.png" type="image/png" />
</head>

<template name="layout">
  <div class="wrapper">
    {{ > header }}
    {{ > sAlert }}
    <section>
      <div class="content-wrapper">
        {{ > yield }}
      </div>
    </section>
  </div>
</template>

<template name="index">
  {{ > dashboard }}
  {{ > applications }}
</template>

<template name="dashboard">
  <div class="row {{#unless Template.subscriptionsReady}}whirl ringed{{/unless}}">
    <div class="col-lg-4 col-sm-6">
      <div class="panel widget bg-primary">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-primary-dark pv-lg">
               <em class="fa fa-rocket fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0 text-bold">{{ apps.count }}</div>
               <div class="text-uppercase">Applications</div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="panel widget bg-danger">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-danger-dark pv-lg">
               <em class="fa fa-exclamation-triangle fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0 text-bold">{{ logs.count }}</div>
               <div class="text-uppercase">Errors</div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="panel widget">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <div data-now="" data-format="MMMM" class="text-sm">{{ moFormat moNow 'MMMM' }}</div>
               <br>
               <div data-now="" data-format="D" class="h2 mt0">{{ moFormat moNow 'D' }}</div>
            </div>
            <div class="col-xs-8 pv-lg">
               <div data-now="" data-format="dddd" class="text-uppercase">{{ moFormat moNow 'dddd' }}</div>
               <br>
               <div data-now="" data-format="h:mm" class="h2 mt0">{{ moFormat moNow 'h:mm:ss' }}</div>
               <div data-now="" data-format="a" class="text-muted text-sm">{{ moFormat moNow 'a' }}</div>
            </div>
         </div>
      </div>
    </div>
  </div>
</template>

<template name="header">
  <header class="topnavbar-wrapper">
    <nav role="navigation" class="navbar topnavbar">
      <div class="navbar-collapse collapse">
        <a href="{{ pathFor route='Index' }}" class="logo">
          <img src="/images/logo.png">
        </a>
        {{ > currentUserNav }}
      </div>
    </nav>
  </header>
</template>

<template name="notFound">
  <div class="abs-center wd-xl not-found">
    <div class="text-center mb-xl">
      <p class="lead m0">We couldn't find this page.</p>
      <p>The page you are looking for does not exists.</p>
    </div>
    <ul class="list-inline text-center text-sm mb-xl">
      <li>
        <a href="{{ pathFor route='Index' }}" class="text-muted">Go to App</a>
      </li>
    </ul>
  </div>
</template>

<template name="loading">
  Loading...
</template>
