<template name="index">
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="panel widget bg-success">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-success-dark pv-lg">
               <em class="fa fa-bullseye fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0 text-bold">{{ onlines.count }}</div>
               <div class="text-uppercase">{{ _ "onlines" }}</div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="panel widget bg-purple">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-purple-dark pv-lg">
               <img src="/images/pm.png" class="pm">
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0 text-bold">{{ apps.count }}</div>
               <div class="text-uppercase">{{ _ "applications" }}</div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="panel widget bg-danger">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-danger-dark pv-lg">
               <em class="fa fa-exclamation-triangle fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0 text-bold">{{ errors.count }}</div>
               <div class="text-uppercase">{{ _ "errors" }}</div>
            </div>
         </div>
      </div>
    </div>
  </div>
  {{ > applications }}
</template>
