<template name="currentUserNav">
  {{# unless loggingIn }}
    {{# if currentUser }}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown dropdown-list">
          <a href="#" data-toggle="dropdown" class="user">
            {{ > avatar user=currentUser size='small' }}
            {{ currentUser.profile.first_name }}
          </a>
          <ul class="dropdown-menu animated flipInX">
            <li>
              <div class="list-group">
                <a href="{{ pathFor route='atChangePwd' }}" class="list-group-item">
                  <div class="media-box">
                    <div class="media-box-body clearfix">
                      <p class="m0">{{ _ "change-password" }}</p>
                    </div>
                  </div>
                </a>
                <a href="/logout" class="list-group-item logout">
                  <div class="media-box">
                    <div class="media-box-body clearfix">
                      <p class="m0">{{ _ "log-out" }}</p>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    {{/if}}
  {{/unless}}
</template>
