<template name="applications">
  <div class="applications {{#unless Template.subscriptionsReady}}whirl ringed{{/unless}}">
    <div class="panel-heading applications-heading">
      <div class="pull-right btn-group">
        <a href="{{ pathFor route='Insert' }}" class="btn btn-success">
           <em class="fa fa-hand-o-right"></em>
           <span>Create Application</span>
        </a>
      </div>
      <div class="panel-title">Applications</div>
   </div>
    {{# each apps }}
      <div class="list-group">
         <a href="#" class="list-group-item">
            <table class="wd-wide">
               <tbody>
                  <tr>
                     <td class="wd-xs">
                        <div class="ph status {{ status }}"></div>
                     </td>
                     <td>
                        <div class="ph">
                           <h4 class="media-box-heading">{{ name }}</h4>
                           <small class="text-muted">Vestibulum ante ipsum primis in faucibus orci</small>
                        </div>
                     </td>
                     <td class="wd-sm hidden-xs hidden-sm">
                        <div class="ph">
                           <p class="m0">Last change</p>
                           <small class="text-muted">{{ livestamp updatedAt }}</small>
                        </div>
                     </td>
                     <td class="wd-xs hidden-xs hidden-sm">
                        <div class="ph">
                           <p class="m0">Port</p>
                           <small class="text-muted">
                             {{# if env.PORT }}
                               {{ env.PORT }}
                             {{ else }}
                               <i class="fa fa-circle"></i>
                             {{/if}}
                           </small>
                        </div>
                     </td>
                     <td class="wd-xs hidden-xs hidden-sm">
                        <div class="ph">
                          <p class="m0">Status</p>
                          <small class="text-muted">{{ status }}</small>
                        </div>
                     </td>
                     <td class="wd-sm">
                        <div class="ph">
                           <progressbar value="80" type="success" class="m0 progress-xs">80%</progressbar>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </a>
      </div>
    {{ else }}
      <p class="text-center">Empty Applications</p>
    {{/each}}
  </div>
</template>

<template name="application">
  {{ name }} - <span class="status {{ status }}">{{ status }}</span>
  <ul>
    {{# each logs }}
      <li>
        <b>{{ type }} - {{ livestamp createdAt }}</b>
        <div>{{{ data }}}</div>
      </li>
    {{/each}}
  </ul>
</template>

<template name="insert">
  {{ > quickForm collection="Applications" id="ApplicationsInsertForm" type="insert" }}
</template>
