<template name="applications">
  <div class="applications">
    <div class="panel-heading applications-heading">
      <div class="pull-right btn-group">
        <a href="{{ pathFor route='InsertApplication' }}" class="btn btn-success">
          <em class="fa fa-hand-o-right"></em>
          <span>Create Application</span>
        </a>
      </div>
      <div class="panel-title">Applications</div>
    </div>
    <div class="list {{#unless Template.subscriptionsReady}}whirl ringed{{/unless}}">
      {{# each apps }}
        <div class="list-group">
          <a href="#" class="list-group-item">
            <table class="wd-wide">
              <tbody>
                <tr>
                  <td class="wd-xs">
                    <div class="ph status {{ status }}"></div>
                  </td>
                  <td>
                    <div class="ph">
                      <h4 class="media-box-heading">{{ name }}</h4>
                      <small class="text-muted">{{ _id }}</small>
                    </div>
                  </td>
                  <td class="wd-sm hidden-xs hidden-sm">
                    <div class="ph">
                      <p class="m0">Created At</p>
                      <small class="text-muted">{{ livestamp createdAt }}</small>
                    </div>
                  </td>
                  <td class="wd-xs hidden-xs hidden-sm">
                    <div class="ph">
                      <p class="m0">Status</p>
                      <small class="text-muted">{{ status }}</small>
                    </div>
                  </td>
                  <td class="wd-xs hidden-xs hidden-sm">
                    <div class="ph">
                      <p class="m0">Port</p>
                      <small class="text-muted">
                        {{# if env.PORT }}
                          {{ env.PORT }}
                        {{ else }}
                          <i class="fa fa-circle"></i>
                        {{/if}}
                      </small>
                    </div>
                  </td>
                  <td class="wd-xs hidden-xs hidden-sm">
                    <div class="ph">
                      <p class="m0">Memory</p>
                      <small class="text-muted">
                        {{# if monit.memory }}
                          {{ filesize monit.memory }}
                        {{ else }}
                          <i class="fa fa-circle"></i>
                        {{/if}}
                      </small>
                    </div>
                  </td>
                  <td class="wd-xs hidden-xs hidden-sm">
                    <div class="ph">
                      {{> progressCircle progress=monit.cpu radius=40 class=status }}
                    </div>
                  </td>
                  <td class="wd-xs hidden-xs hidden-sm">
                    <div class="ph">
                      <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default" aria-expanded="false">
                          More <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul role="menu" class="dropdown-menu animated bounceIn">
                           <li><a href="#" class="start">Start</a></li>
                           <li><a href="#" class="stop">Stop</a></li>
                           <li class="divider"></li>
                           <li><a href="#" class="delete">Destroy</a></li>
                        </ul>
                     </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>
        </div>
      {{ else }}
        <p class="text-center">Empty Applications</p>
      {{/each}}
    </div>
  </div>
</template>

<template name="application">
  {{ name }} - <span class="status {{ status }}">{{ status }}</span>
  <ul>
    {{# each logs }}
      <li>
        <b>{{ type }} - {{ livestamp createdAt }}</b>
        <div>{{{ data }}}</div>
      </li>
    {{/each}}
  </ul>
</template>

<template name="insertApplication">
  <div class="col-lg-9">
    <p class="lead">New Application</p>
    <div class="panel panel-default">
      <div class="panel-body">
        {{# autoForm collection="Applications" id="insertApplicationForm" type="insert" }}
          {{> afQuickField name='name' class='mb-lg form-control input-lg' placeholder='NAME' label=false autofocus='' }}
          {{> afQuickField name='env.ROOT_URL' class='mb-lg form-control input-lg' placeholder='ROOT URL' label=false }}
          {{> afQuickField name='env.MAIL_URL' class='mb-lg form-control input-lg' placeholder='MAIL URL' label=false }}
          {{> afQuickField name="bundleId" type="cfs-file" collection="bundles" label=false }}
          <button type="submit" class="mb-sm btn btn-purple btn-lg">Create Application</button>
        {{/ autoForm }}
      </div>
    </div>
  </div>
</template>

<template name="updateApplication">
  <div class="col-lg-9">
    <p class="lead">Update Application</p>
    <div class="panel panel-default">
      <div class="panel-body">
        {{# autoForm collection="Applications" id="updateApplicationForm" type="update" doc=this }}
          {{> afQuickField name='name' class='mb-lg form-control input-lg' placeholder='NAME' label=false autofocus='' }}
          {{> afQuickField name='env.ROOT_URL' class='mb-lg form-control input-lg' placeholder='ROOT URL' label=false }}
          {{> afQuickField name='env.MAIL_URL' class='mb-lg form-control input-lg' placeholder='MAIL URL' label=false }}
          {{> afQuickField name="bundleId" type="cfs-file" collection="bundles" label=false }}
          <button type="submit" class="mb-sm btn btn-purple btn-lg">Update Application</button>
        {{/ autoForm }}
      </div>
    </div>
  </div>
</template>
