<template name="applications">
  <div class="applications">
    <div class="panel-heading applications-heading">
      <div class="pull-right btn-group">
        {{# if isInRole 'admin' }}
          <a href="#" class="btn btn-purple insert">
            <em class="fa fa-hand-o-right"></em>
            <span>{{ _ "create-application" }}</span>
          </a>
        {{/if}}
      </div>
      <div class="panel-title">{{ _ "applications" }}</div>
    </div>
    <div class="list">
      {{# each apps }}
        <div class="list-group">
          <a href="{{ pathFor route='Application' }}" class="list-group-item">
            <table class="wd-wide">
              <tbody>
                <tr>
                  <td class="wd-xs">
                    <div class="ph status {{ status }} {{# if isExit }}whirl traditional{{/if}} {{# if isOnline }}onlineInOut{{/if}}"></div>
                  </td>
                  <td>
                    <div class="ph url-container">
                      <a href="#" class="name">{{ name }}</a>
                        <small class="text-muted">
                          {{# if isOnline }}
                            <a href="{{ absoluteUrl }}" class="absoluteUrl">{{ env.ROOT_URL }}</a>
                          {{ else }}
                            {{ env.ROOT_URL }}
                          {{/if}}
                        </small>
                    </div>
                  </td>
                  <td class="wd-sm hidden-xs hidden-sm">
                    <div class="ph">
                      <p class="m0">{{ _ "created-at" }}</p>
                      <small class="text-muted">{{ livestamp createdAt }}</small>
                    </div>
                  </td>
                  <td class="wd-xs hidden-xs hidden-sm">
                    <div class="ph">
                      <p class="m0">{{ _ "status" }}</p>
                      <small class="text-muted">{{ status }}</small>
                    </div>
                  </td>
                  <td class="wd-xs hidden-xs hidden-sm">
                    <div class="ph">
                      <p class="m0">{{ _ "port" }}</p>
                      <small class="text-muted">
                        {{# if env.PORT }}
                          {{ env.PORT }}
                        {{ else }}
                          <i class="fa fa-circle"></i>
                        {{/if}}
                      </small>
                    </div>
                  </td>
                  <td class="wd-xs hidden-xs hidden-sm">
                    <div class="ph">
                      <p class="m0">{{ _ "memory" }}</p>
                      <small class="text-muted">
                        {{# if monit.memory }}
                          {{ filesize monit.memory }}
                        {{ else }}
                          <i class="fa fa-circle"></i>
                        {{/if}}
                      </small>
                    </div>
                  </td>
                  <td class="wd-xs hidden-xs hidden-sm">
                    <div class="ph">
                      {{> progressCircle progress=monit.cpu radius=40 class=status }}
                    </div>
                  </td>
                  <td class="wd-xs hidden-xs hidden-sm">
                    <div class="ph">
                      <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default" aria-expanded="false">
                          {{ _ "more" }} <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul role="menu" class="dropdown-menu animated bounceIn">
                          <li>
                            <a href="#" class="start">
                              {{# if isOnline }}{{ _ "restart" }}{{ else }}{{ _ "start" }}{{/if}}
                            </a>
                          </li>
                          {{# if isOnline }}
                            <li><a href="#" class="stop">{{ _ "stop" }}</a></li>
                          {{/if}}
                          {{# unless isOnline }}
                            {{# if isInRole 'admin' }}
                              <li class="divider"></li>
                              <li><a href="#" class="delete">{{ _ "delete" }}</a></li>
                            {{/if}}
                          {{/unless}}
                        </ul>
                     </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>
        </div>
      {{ else }}
        <div class="text-center empty">
          <span>{{ _ "no-applications" }}</span>
          <span class="yet">{{ _ "yet-applications-yet" }}</span>
        </div>
      {{/each}}
    </div>
  </div>
</template>

<template name="application">
  <div class="application">
    {{# if this }}
      <div class="text-center name">
        {{ name }}
        {{# if isOnline }}
          <a href="{{ absoluteUrl }}" class="absoluteUrl" target="_blank">{{ env.ROOT_URL }}</a>
        {{ else }}
          <span>{{ env.ROOT_URL }}</span>
        {{/if}}
      </div>
      <div class="ph status {{ status }} {{# if isOnline }}onlineInOut{{/if}}"></div>
      <div class="row morris-container">
        <div class="col-md-6">
          <p class="lead text-center">{{ _ 'memory' }}</p>
           <div class="panel panel-default">
              <div class="panel-body">
                 <div id="morris-memory" class="whirl ringed no-overlay"></div>
              </div>
           </div>
        </div>
        <div class="col-md-6">
          <p class="lead text-center">{{ _ 'cpu' }}</p>
           <div class="panel panel-default">
              <div class="panel-body">
                 <div id="morris-cpu" class="whirl ringed no-overlay"></div>
              </div>
           </div>
        </div>
      </div>
    {{ else }}
      <div class="abs-center not-found">
        <div class="text-center mb-xl">
          <p class="lead">{{ _ "not-found" "Application" }}</p>
          <p class="desc">{{ _ "not-found-desc" }}</p>
        </div>
        <ul class="list-inline text-center text-sm mb-xl">
          <li>
            <a href="{{ pathFor route='InsertApplication' }}" class="btn btn-purple btn-lg">
              <em class="fa fa-hand-o-right"></em>
              <span>{{ _ "create-application" }}</span>
            </a>
          </li>
        </ul>
      </div>
    {{/if}}
  </div>
</template>

<template name="insertApplicationModal">
  <div class="panel panel-default">
    <p class="lead">{{ _ "create-application" }}</p>
    <div class="panel-body">
      {{# autoForm collection="Applications" id="InsertApplicationForm" type="insert" }}
        {{> afQuickField name='name' class='mb-lg form-control input-lg' placeholder='NAME' label=false autofocus='' }}
        {{> afQuickField name='env.ROOT_URL' class='mb-lg form-control input-lg' placeholder='ROOT URL' label=false }}
        {{> afQuickField name='env.MAIL_URL' class='mb-lg form-control input-lg' placeholder='MAIL URL' label=false }}
        {{> afQuickField name="bundleId" type="cfs-file" collection="bundles" label=false }}
        <button type="submit" class="mb-sm btn btn-purple btn-lg">{{ _ "create" }}</button>
      {{/ autoForm }}
    </div>
  </div>
</template>

<template name="updateApplicationModal">
  <div class="panel panel-default {{# unless Template.subscriptionsReady }}whirl traditional{{/unless}}">
    <p class="lead">{{ _ "update-application" }}</p>
    <div class="panel-body">
      {{# autoForm collection="Applications" id="UpdateApplicationForm" type="update" doc=application }}
        {{> afQuickField name='name' class='mb-lg form-control input-lg' placeholder='NAME' label=false autofocus='' }}
        {{> afQuickField name='env.ROOT_URL' class='mb-lg form-control input-lg' placeholder='ROOT URL' label=false }}
        {{> afQuickField name='env.MONGO_URL' class='mb-lg form-control input-lg' placeholder='MONGO URL' label=false }}
        {{> afQuickField name='env.MAIL_URL' class='mb-lg form-control input-lg' placeholder='MAIL URL' label=false }}
        {{> afQuickField name='env.PORT' class='mb-lg form-control input-lg' placeholder='PORT' label=false }}
        {{> afQuickField name="bundleId" label=false }}
        {{# if application.isOnline }}
          <a class="mb-sm btn btn-warning btn-lg stop">{{ _ "stop-and-update" }}</a>
        {{ else }}
          <button type="submit" class="mb-sm btn btn-purple btn-lg">{{ _ "update" }}</button>
        {{/if}}
      {{/ autoForm }}
    </div>
  </div>
</template>
